body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
h1 {
    color: #fff;
    text-align: center;
}
#display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 93%;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 0 20%;
    max-width: 20%;
}
button.operator {
    background-color: #f44336;
    color: #fff;
}
button.number {
    background-color: #4caf50;
    color: #fff;
}
button.special {
    background-color: #2196f3;
    color: #fff;
}