body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
h1 {
    color: black;
    text-align: center;
}/* General button styles */
button {
    padding: 20px; /* Increase padding for circular shape */
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 50%; /* Circular border radius */
    cursor: pointer;
    flex: 1 0 23%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional: add shadow for depth */
}

/* Number button styles */
button.number {
    background-color: #333;
    color: #fff;
}
button.top3{
    background-color: #615959;
    color: #fff;
}
/* Special function button styles */
button.special {
    background-color: #FF9500;
    color: #fff;
}
#display {
    color: black;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 88%;
}
.long {
    width: 100px; /* Adjust width as needed */
    height: 60px; /* Set the height to match the circle buttons */
    border-radius: 5px; /* Adjust border radius for the long button */
}

/* Circle button specific styles */
.circle {
    width: 60px; /* Set a fixed width for circle */
    height: 60px; /* Set a fixed height for circle */
}
.eq{
    width: 135px; /* Set a fixed width for circle */
    height: 60px; /* Set a fixed height for circle */
    border-radius: 40px;
}

